.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding: 0 48px;
    min-height: 100%;
    flex: 1;

    >svg {
        max-height: 5rem;

        * {
            fill: var(--color-cotton-90);
        }
    }
}
