.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding: 0 48px 5.5vh 48px;
    flex: 1;

    >svg {
        max-height: 6rem;
    }
}
