.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem 1.5rem;

    background-color: var(--color-cotton);
    color: var(--color-onyx);
    padding: 0.5rem 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.svg-anchor {
    min-width: 1.5rem;
    display: flex;
    overflow: hidden;

    & path,
    & rect {
        transition: fill 60ms linear;
    }

    &:hover,
    &:focus {
        path {
            fill: var(--color-cotton);
        }

        rect {
            fill: var(--color-onyx);
        }
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 0.5ch;
    text-decoration: none;
    user-select: none;
    font-size: 1rem;
    justify-content: end;
}

.anchor {
    text-decoration: none;
    color: var(--color-onyx);
    outline: none;
    padding: 0rem 0.5ch;
    border-radius: 0.125rem;
    white-space: nowrap;
    font-size: 1rem;
    transition: color 60ms linear, background-color 60ms linear;

    &:hover,
    &:focus {
        color: var(--color-cotton);
        background-color: var(--color-vibe);
    }
}
