@import url("https://fonts.googleapis.com/css2?family=Joan&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-cotton: #FFF3F3;
    --color-cotton-90: #D9D9D9;
    --color-cotton-80: #D5CBCA;
    --color-cotton-70: #BFB7B7;
    --color-cotton-50: #958F8E;
    --color-cotton-30: #6B6866;
    --color-cotton-14: #4A4846;
    --color-cotton-10: #41403E;

    --color-milk: #ACA4A3;
    --color-milk-2: #9B9493;
    --color-milk-3: #595654;
    --color-milk-4: #565453;

    --color-onyx: #2C2C2A;
    --color-coffee: #373634;
    --color-vibe: #A07CFF;

    font-family: Jost, Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: var(--color-cotton-50);
    background-color: var(--color-onyx);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: unset;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

button,
a {
    cursor: pointer;
    outline: none;
}

button {
    border: unset;
    background: unset;
    padding: unset;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
input {
    margin: unset;
}
