@import url("https://fonts.googleapis.com/css2?family=Joan&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-cotton: #FFF3F3;
    --color-cotton-50: #FFF3F380;
    --color-onyx: #2C2C2A;
    --color-vibe: #A07CFF;

    font-family: Jost, Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: var(--color-cotton-50);
    background-color: var(--color-onyx);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: unset;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    overflow: hidden;
}

* {
    box-sizing: border-box;

    /* temporário, pra facilitar */
    font-size: 1.125rem;
}

button,
a {
    cursor: pointer;
    outline: none;
}
