.wrapper {
    --cotton-50: color-mix(in srgb, var(--color-cotton) 50%, transparent);
    --cotton-10: color-mix(in srgb, var(--color-cotton) 10%, transparent);
    --button-width: 42px;
}

.window-drag {
    width: calc(100% - (var(--button-width) * 3));
    position: fixed;
    display: flex;
    height: 40px;
}

.window-buttons {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: end;
}

.button {
    transition: background-color 60ms linear;
    cursor: unset;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 32px;
    width: var(--button-width);
    color: var(--color-cotton);
}

.close-window {

    &:hover {
        background-color: var(--color-vibe);

        &::after,
        &::before {
            background-color: var(--color-cotton);
        }
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 33%;
        background-color: var(--cotton-50);
        transform: rotate(45deg);
    }

    &::before {
        transform: rotate(-45deg);
    }
}

.maximize-window {


    &::before {
        content: "";
        position: absolute;
        width: 30%;
        height: 26%;
        border: 1px solid var(--cotton-50);
    }

    &.maximized {
        &::before {
            content: "";
            position: absolute;
            width: 24%;
            height: 20%;
            border: 1px solid var(--cotton-50);
            top: 13px;
            right: 15px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 24%;
            height: 24%;
            border: 1px solid var(--cotton-50);
            border-left-color: transparent;
            border-bottom-color: transparent;
            top: 10px;
            right: 12px;
        }
    }

    &:hover {
        background-color: var(--cotton-10);

        &::before {
            border-color: var(--color-cotton);
        }

        &::after {
            border-top-color: var(--color-cotton);
            border-right-color: var(--color-cotton);
        }
    }
}


.minimize-window {

    &:hover {
        background-color: var(--cotton-10);

        &::before {
            background-color: var(--color-cotton);
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 30%;
        height: 1px;
        background-color: var(--cotton-50);
    }
}
